# PostgreSQL
DB_HOST=localhost
DB_USER=postgres
DB_PASS=root
DB_NAME=cloud-dev
DB_PORT=5432

# Github Oauth - Create one at https://github.com/settings/developers
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# Auth Login
NEXTAUTH_SECRET=RandomStringThatIsVeryLong2022 from https://auth-secret-gen.vercel.app/
NEXTAUTH_URL=http://localhost:3000

# Gmail
GMAIL_USER=your-email@gmail.com
GMAIL_APP_PASSWORD=your-app-password