/* - Body -------------------------------------------------------------------------------------- */
body {
  color: #000;
  background: #f7f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*- Link ---------------------------------------------------------------------------------------- */
a {
  color: #232eac;
  text-decoration: none;
}
a:hover {
  color: #0071e3;
  text-decoration: none;
}

/*- Headlines ------------------------------------------------------------------------------------ */
h1{
  font: bold 25px Arial, Helvetica, sans-serif;
  color: #af0081;
  padding: 0px 0px 12px 0px;
}

/*- Paragraphs ------------------------------------------------------------------------------------ */
p{
  padding: 0px 0px 0px 0px;
  margin: 12px 0px 12px 0px;
}

/*- Feedback boxes -------------------------------------------------------------------------------- */
.success, .error{
  border: 1px solid;
  margin: 10px 0;
  padding: 5px 10px 5px 10px;
  text-align: left;
}
.success{
  color: #4f8a10;
  background-color: #dff2bf;
}
.error{
  color: #d8000c;
  background-color: #ffbaba;
}


/* Container -------------------------------------------------------------------------------- */
.container {
  display: flex;
  flex: 1;
}

/* Header -------------------------------------------------------------------------------- */

/* Sidebar */
.sidebar {
  background-color: #fff;
  color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-right: #e6e6e6 1px solid;
}

.sidebar a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.sidebar a:hover {
  color: #fff;
  background-color: #0071e3;
}
/* Main ---------------------------------------------------------------------------------- */

main {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}
div.main_box {
  background: #fff;
  border: #e6e6e6 1px solid;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
  margin: 0px 0px 20px 0px;
}

/*- Footer ------------------------------------------------------------------------------------ */
footer{
  color: black;
  text-align: center;
  padding: 10px;
  clear: both;
}

/* CSS Tables Generic Table ---------------------------------------------------------------- */
/* CSS Search Input for Generic Table */
div.generic-table-search-div > form > p{
  margin: 0;
  padding: 0;

}
input.generic-table-search-input{
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

/* CSS Tables Generic Table */
table.generic-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table.generic-table > thead > tr > th {
  background: #36304a;
  padding: 6px;
  text-align: left;
  cursor: pointer;
}
table.generic-table > thead > tr > th.th-sub-headline {
  background: #fefefefe;
  padding: 6px;
  text-align: left;
}

table.generic-table > thead > tr > th.sort-icon {
  margin-left: 8px;
  font-size: 0.9em;
  color: #666;
}
table.generic-table > thead > tr > th.sort-icon-asc {
  content: '▲';
}
table.generic-table > thead > tr > th.sort-icon-desc{
  content: '▼';
}
table.generic-table > thead > tr > th > span {
  color: white;
}

table.generic-table > tbody > tr {
  background: #fff;
  border-top: #cccccc 1px solid;
}

table.generic-table > tbody > tr:nth-child(even) {
  background: #f5f5f5;
}

table.generic-table > tbody > tr:hover {
  background: #faf4f2;
}

table.generic-table > tbody > tr > td {
  padding: 8px 6px;
  color: black;
}

table.generic-table > tbody > tr > td.important {
  background: #fff7e5;
  border-bottom: #eabc63 1px solid;
  color: black;
}

table.generic-table > tbody > tr > td.danger {
  background: #ffe7e5;
  border-bottom: #ff4940 1px solid;
  border-top: #ff4940 1px solid;
  color: black;
}
